html {
    scroll-behavior: smooth;
  }
  p {
    margin: 0;
  }
 
  
  .background {
    background-image: url("./sky.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: top center;
  }
  .inv{
    visibility: hidden;
  }
  .home{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  }
  .line{
    border-top: 1px solid black;
    width: auto;
  }
  ul {
    text-align: center;
    padding: 0px;
    position: relative;
    top: 0;
  }
  .menu{
    margin-top: 0%;
  }
  .navb{
    background-color: transparent;
  }
  li {
    display: inline-block;
   }
   .navb > a:hover{
    color:blue;
    cursor: pointer;
    text-decoration: none;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     margin-top: 1rem;
     left: 0;
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
     width: 100%;
   }

   .Out {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 0px;
    margin: 0px 36px;
    text-decoration: none;
    font-weight: 750;
  }

  .inDrop{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
  }

  .dropdown>.dropdown-menu{
    background-color: whitesmoke;
    border-color: transparent;
    border-style: none;
  }
  .dropdown>.dropdown-menu>li>a:hover{
    background-color: rgba(194, 194, 194, 0.5);
    border-color: transparent;
    border-style: none;
    color: blue;
    font-weight: 800;
  }
  
  .active{
    color: blue;
  }
 
  .imageC{
margin-left: 10px;
opacity: 0.7;
  }
  .imageC:hover{
opacity: 1;
cursor:url("https://img.icons8.com/nolan/64/000000/airport.png"), auto;
  }
  .btm {
    background-color: black;
    color: aliceblue;
    margin-top: 50px;
  }
  .btm p{
    
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  .bbtm:hover{
    text-decoration: none;
    color:lawngreen;
    cursor: progress;
  }
  .bbtm{
    text-decoration: none;
    color:lawngreen;
  }
  
  nav {
    height: 5vw;
    width: 100%;
  }
  
  

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-left: 70%;
}
.btn-clear{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-right: 70%;
    position: absolute;
}
.row{
  width: 800px;
}
#form_message{
    resize: vertical;
}
.contT{
  margin-top: 20px;
  margin-bottom: 30px;
}
.FSize{
  margin-top: 10px;
  margin-left: 22%;
  margin-right: 22%;

}
.img1{
  width: auto;
  height: auto;
}

.context > h3{
background-color:darkkhaki;
padding: 10px;
}